@font-face {
  src: url("../fonts/bandeins.otf");
  font-family: "bandeins";
}

@font-face {
  src: url("../fonts/Aeonik-Light.otf");
  font-family: "AeonikLight";
}

@font-face {
  src: url("../fonts/Aeonik-Regular.otf");
  font-family: "AeonikRegular";
}

@font-face {
  src: url("../fonts/Aeonik-Medium.otf");
  font-family: "AeonikMedium";
}

@font-face {
  src: url("../fonts/Aeonik-Bold.otf");
  font-family: "AeonikBold";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #000;
  overflow-x: hidden;
  cursor: default;
}

.fs1 {
  font-size: 9vmax;
  font-family: AeonikRegular;
  letter-spacing: 0.03vmax;
  color: #fefefe;
}

.fs2 {
  font-size: 3.5vmax;
  font-family: AeonikRegular;
  letter-spacing: 0.03vmax;
  color: #fefefe;
}

.fs3 {
  font-size: 3vmax;
  font-family: AeonikRegular;
  letter-spacing: 0.03vmax;
  color: #fefefe;
}

.fs4 {
  font-size: 1.5vmax;
  font-family: AeonikRegular;
  letter-spacing: 0.03vmax;
  color: #fefefe;
}

.fs5 {
  font-size: 1vmax;
  line-height: 1.3vmax;
  font-family: AeonikRegular;
  letter-spacing: 0.03vmax;
  color: #fefefe;
}

p {
  font-size: 1.3vmax;
  line-height: 2.3vmax;
  letter-spacing: 0.03vmax;
  color: #fefefe;
}

@media (max-width: 30cm) {
  .fs4 {
    font-size: 2vmax;
  }

  .fs5 {
    font-size: 1.5vmax;
    line-height: 1.8vmax;
  }

  p {
    font-size: 1.6vmax;
    line-height: 2.6vmax;
  }
}

.menubox {
  position: absolute;
  bottom: 0;
  left: 100%;
  height: calc(100vh - 6vmax);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 23vmax;
  background: #000;
  z-index: 999;
  transition: all 0.25s linear;
  padding: 0 2.5vmax;

  .elem1 {
    height: fit-content;
    width: fit-content;
    text-align: center;

    a {
      line-height: 9.5vmax;
      text-decoration: none;
      transition: all 0.25s linear;
    }
  }

  .elem2 {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vmax 0;

    h4 {
      font-family: bandeins;
      font-weight: lighter;
    }

    .smlinkbox {
      height: fit-content;
      width: fit-content;
      display: flex;
      gap: 1.25vmax;

      i {
        padding: 1vmax;
        color: #000;
        background-color: #fefefe;
        opacity: 0.5;
        border-radius: 5vmax;
        transition: 0.25s linear;
        cursor: pointer;

        &:hover {
          opacity: 1;
          transition: 0.25s linear;
        }
      }
    }
  }
}

.wrapper {
  position: relative;
  height: fit-content;
  width: 100%;
  background-color: #000;

  .nav {
    position: relative;
    height: 8vmax;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vmax;

    a {
      text-decoration: none;
    }

    .center {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: Bandeins;
      font-weight: lighter;
      letter-spacing: 0;
    }

    .right {
      text-align: right;
    }

    i {
      display: none;
    }
  }

  @media (max-width: 30cm) {
    .nav {
      height: 6vmax;
      padding: 0 3vmax;
    }
  }

  @media (max-width: 15cm) {
    .nav {
      height: 6vmax;
      justify-content: flex-end;
      padding: 0 2.5vmax;

      .left {
        display: none;
      }

      .center {
        position: absolute;
        top: 50%;
        left: 2.5vmax;
        transform: translate(0%, -50%);
      }

      .right {
        display: none;
      }

      .ri-camera-line {
        color: #fefefe;
        display: initial;
      }
    }
  }

  .sec1 {
    height: fit-content;
    width: 100%;

    h2 {
      font-family: bandeins;
      font-weight: lighter;
      line-height: 3.7vmax;
      letter-spacing: 0;
      text-transform: capitalize;
      text-align: center;
      margin-top: 1vmax;
      padding: 0 22vmax;
    }

    .imgbox-holder {
      position: relative;
      height: 100vh;
      width: 100%;
      margin-top: 4vmax;

      .large-imgbox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 38%;
        overflow: hidden;
        z-index: 99;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .medium-imgbox {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        height: 60%;
        width: 20%;
        overflow: hidden;
        z-index: 88;
      }

      .m1 {
        left: 13%;
      }

      .m2 {
        right: 13%;
      }

      .small-imgbox {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        height: 40%;
        width: 15%;
        overflow: hidden;
      }

      .s1 {
        left: 0;
      }

      .s2 {
        right: 0;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  @media (max-width: 30cm) {
    .sec1 {
      height: calc(100vh - 3vmax);
      padding-top: 13vmax;

      h2 {
        line-height: 4vmax;
        margin-top: 0;
        padding: 0 7vmax;
      }

      .imgbox-holder {
        height: 40vh;
      }
    }
  }

  @media (max-width: 15cm) {
    .sec1 {
      padding-top: 13vmax;

      h2 {
        padding: 0 2.5vmax;
      }

      .imgbox-holder {
        height: 30vh;
      }
    }
  }

  .sec2 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .marqueebox {
      height: fit-content;
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;

      .text-holder {
        height: fit-content;
        width: 100%;
        display: flex;
        flex: 0 0 auto;

        h1 {
          height: 9vmax;
          display: flex;
          align-items: center;
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .mrq1 {
      h1 {
        text-transform: uppercase;
        color: #fefefe;
        white-space: nowrap;
        min-width: 163vmax;
      }
    }

    .mrq2 {
      h1 {
        font-family: AeonikBold;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 2px #fefefe;
        white-space: nowrap;
        min-width: 128vmax;
      }
    }

    .imgbox3D {
      position: absolute;
      top: 120%;
      left: 50%;
      transform: translate(-50%, 0);
      height: 35vmax;
      width: 30vmax;
      transition: 0.25s linear;
      will-change: transform;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center -2vmax;
      }
    }
  }

  @media (max-width: 30cm) {
    .sec2 {
      .imgbox3D {
        height: 40vmax;
      }
    }
  }

  @media (max-width: 15cm) {
    .sec2 {
      .imgbox3D {
        height: 32vmax;
        width: 25vmax;
      }
    }
  }

  .sec3 {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 4vmax;

    .left {
      height: 35vmax;
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      h2 {
        font-family: bandeins;
        font-weight: lighter;
        line-height: 3.7vmax;
        letter-spacing: 0;
        text-transform: capitalize;
      }

      p {
        font-family: AeonikLight;
        width: 85%;
        opacity: 0.5;
      }
    }

    .right {
      height: 35vmax;
      width: 60%;
      cursor: pointer;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  @media (max-width: 30cm) {
    .sec3 {
      flex-direction: column;
      gap: 3vmax;
      padding: 0 3vmax;

      .left {
        height: fit-content;
        width: 100%;
        padding-right: 24vmax;

        h2 {
          line-height: 4vmax;
        }

        p {
          width: 100%;
        }
      }

      .right {
        height: 40vmax;
        width: 100%;
      }
    }
  }

  @media (max-width: 15cm) {
    .sec3 {
      flex-direction: column;
      gap: 3vmax;
      padding: 0 2.5vmax;

      .left {
        width: 100%;
        padding-right: 0vmax;

        p {
          width: 91%;
        }
      }

      .right {
        height: 26vmax;
      }
    }
  }

  .sec4 {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12vmax 4vmax;

    h1 {
      line-height: 8.5vmax;
      text-transform: uppercase;

      span {
        font-family: AeonikBold;
        color: transparent;
        -webkit-text-stroke: 2px #fefefe;
      }

      .imgbox-holder {
        position: relative;
        height: 6.4vmax;
        width: 12vmax;
        display: inline-block;

        .imgbox {
          position: absolute;
          top: -21%;
          height: 100%;
          width: 100%;
          cursor: pointer;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }

  @media (max-width: 30cm) {
    .sec4 {
      padding: 15vmax 3vmax;

      h1 {
        line-height: 9vmax;
      }
    }
  }

  @media (max-width: 15cm) {
    .sec4 {
      padding: 15vmax 2.5vmax;

      h1 {
        .imgbox-holder {
          display: none;
        }
      }
    }
  }

  .sec5 {
    height: fit-content;
    width: 100%;
    padding: 0 4vmax;

    h1 {
      font-family: AeonikBold;
      color: transparent;
      text-transform: uppercase;
      padding: 2vmax 0;
      border-top: 2px solid #fefefe;
      border-bottom: 2px solid #fefefe;
      -webkit-text-stroke: 2px #fefefe;
    }

    .workbox-holder {
      height: fit-content;
      width: 100%;
      margin-top: 2vmax;

      .workbox {
        position: relative;
        height: fit-content;
        width: 100%;
        cursor: pointer;

        h2 {
          font-weight: lighter;
          font-family: bandeins;
          letter-spacing: 0;
          text-transform: capitalize;
          padding: 2vmax 0;
          border-top: 2px solid #fefefe;
          pointer-events: none;
        }

        &:nth-last-child(1) {
          border-bottom: 2px solid #fefefe;
        }

        img {
          position: absolute;
          top: -10%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(0deg);
          height: 14vmax;
          width: 10vmax;
          z-index: 99;
          pointer-events: none;
          opacity: 0;
          will-change: transform;
          transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
        }
      }
    }
  }

  @media (max-width: 30cm) {
    .sec5 {
      padding: 0 3vmax;

      h1 {
        border-top: 1px solid #fefefe;
        border-bottom: 1px solid #fefefe;
      }

      .workbox-holder {
        .workbox {
          h2 {
            border-top: 1px solid #fefefe;
          }
          &:nth-last-child(1) {
            border-bottom: 1px solid #fefefe;
          }
        }
      }
    }
  }

  @media (max-width: 15cm) {
    .sec5 {
      padding: 0 2.5vmax;
    }
  }

  .sec6 {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12vmax 4vmax;

    h1 {
      line-height: 8.5vmax;
      text-transform: uppercase;
    }

    h2 {
      font-weight: lighter;
      font-family: bandeins;
      letter-spacing: 0;
      text-transform: capitalize;
      margin-top: 2vmax;
    }

    p {
      font-family: AeonikLight;
      width: 46%;
      margin-top: 2vmax;
      opacity: 0.5;
    }
  }

  @media (max-width: 30cm) {
    .sec6 {
      padding: 15vmax 3vmax;

      h1 {
        line-height: 9vmax;
      }

      p {
        width: 80%;
      }
    }
  }

  @media (max-width: 15cm) {
    .sec6 {
      padding: 15vmax 2.5vmax;

      h2 {
        padding-right: 10vmax;
      }

      p {
        width: 88%;
      }
    }
  }

  .sec7 {
    height: fit-content;
    width: 100%;
    padding: 0 4vmax;
    padding-bottom: 4vmax;

    h1 {
      line-height: 8.5vmax;
      text-transform: uppercase;
    }

    .ptheading {
      display: none;
    }

    h2 {
      font-weight: lighter;
      font-family: bandeins;
      letter-spacing: 0;
      text-transform: capitalize;
      margin-top: 2vmax;
    }

    .smlinkbox {
      height: fit-content;
      width: fit-content;
      display: flex;
      gap: 2vmax;
      margin-top: 2vmax;

      i {
        padding: 1vmax;
        color: #000;
        background-color: #fefefe;
        opacity: 0.5;
        border-radius: 5vmax;
        transition: 0.25s linear;
        cursor: pointer;

        &:hover {
          opacity: 1;
          transition: 0.25s linear;
        }
      }
    }
  }

  @media (max-width: 30cm) {
    .sec7 {
      padding: 0 3vmax;
      padding-bottom: 3vmax;
    }
  }

  @media (max-width: 15cm) {
    .sec7 {
      padding: 0 2.5vmax;
      padding-bottom: 2.5vmax;

      .lsheading {
        display: none;
      }

      .ptheading {
        display: initial;
      }
    }
  }
}
